<article class="story">
  {% if post.header.image %}
  <div class="story-photo">
    <a href="{{ post.url }}" title="{{post.title | escape}}"><img src="{{ post.media[post.header.image].url }}" alt="{{post.title | escape}}"></a>
  </div>
  {% endif %}
  <div class="story-content">
    {{ post.content }}
  </div>
</article>