<!-- Footer -->
<div class="site-footer">
  <div class="logo">
    <span class="quiet">Troy Stories</span>
    <a href="{{ base_url }}"><img src="{{ theme_url }}/images/logo-light.png" alt="Troy Stories Logo" srcset="{{ theme_url }}/images/logo-light.svg" /></a>
  </div>
  <div class="social">
    <ul>
      <li><a href="http://facebook.com/troynystories"><img src="{{ theme_url }}/images/icon-facebook.png" alt="Troy Stories on Facebook" srcset="{{ theme_url }}/images/icon-facebook.svg" /></a></li>
      <li><a href="http://twitter.com/troynystories"><img src="{{ theme_url }}/images/icon-twitter.png" alt="Troy Stories on Twitter" srcset="{{ theme_url }}/images/icon-twitter.svg" /></a></li>
      <li><a href="http://instagram.com/troystories"><img src="{{ theme_url }}/images/icon-instagram.png" alt="Troy Stories on Instagram" srcset="{{ theme_url }}/images/icon-instagram.svg" /></a></li>
    </ul>
  </div>
  <div class="motto">Stories from the people of Troy, NY</div>
</div>